body{
    background-color: rgba(243, 243, 243, 0.991) !important;
}


header{
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background: rgb(13,110,253);
    background: linear-gradient(197deg, rgba(13,110,253,1) 0%, rgba(42,126,250,1) 50%);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}


/* Botoões da página */
#btnCadastrar{
    height: 60px;
    max-width: 140px;
}


/* container vagas */
#vagas-container{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

/* Parágrafos página */
p{
    margin: 4px !important;
}

/* relógio da página */
#relogio-container{
    width: 120px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.732);
    border-radius: 1.2rem;
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: center;
}


#relogio-container p{
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 1.4rem;

}